/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Definição de variáveis de cores e fontes */
:root {
    --cor-primaria: #FFFFFF; /* Vermelho Santander */
    --cor-secundaria: #CD0000; /* Amarelo Santander */
    --cor-terciaria: #000000; /* Preto Santander */
    --cor-hover:#FFD100 ; /* Vermelho escuro para efeito hover */

    --fonte-primaria: 'Roboto', sans-serif;
    --fonte-secundaria: "Open Sans", sans-serif;
}

/* Estilos gerais */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}


/* Estilos para o cabeçalho */
.cabecalho {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 20px 0;
    text-align: center;
}

.cabecalho__menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--cor-primaria);
    transition: color 0.3s ease;
    padding: 10px 15px;
    border-radius: 8px;
}

.cabecalho__menu__link:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}

/* Estilos para o menu responsivo */
.menu-responsivo {
  display: none;
}

.menu-responsivo__link {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--cor-terciaria);
  margin: 10px 0;
}

.apresentacao {
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
/* Estilos para o texto */
.apresentacao__conteudo__titulo {
  font-size: 2rem;
  font-family: var(--fonte-primaria);
  color: var(--cor-terciaria);
  margin-bottom: 20px;
}

.apresentacao__conteudo__texto {
  font-size: 1.2rem;
  text-align: justify;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

input {
  padding: 15px; 
    border-radius: 7px;
    border: 1px solid Macce;
    transition: all Linear 190ms;
    font-size: 0.9em; 
    color: 08444; 
    margin-bottom: 8px;
}

button {
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  padding: 2px 8px;
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  cursor: pointer;
}

button:hover {
  background-color: var(--cor-hover);
}

.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--cor-primaria);
  border-radius: 10px;
  padding: 34px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.campo{
  padding: 15px; 
  border-radius: 7px;
  border: 1px solid Macce;
  transition: all Linear 190ms;
  font-size: 0.9em; 
  color: 08444; 
  margin-bottom: 8px;
}

.campo::placeholder{
  color: 0#666;
}
.btn{
  padding: 15px;
  color: var(--cor-primaria);
  font-weight: 600;
  border: none;
  margin-top: 20px;
  border-radius: 7px;
  background-color: var(--cor-secundaria);
  cursor: pointer;
  transition: alt Linear 198ms;

}

.btn:hover{
  background-color: var(--cor-hover);
  transform: scale (1.04);

}
/* Estilos para o rodapé */
.rodape {
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  padding: 24px;
  text-align: center;
}

.rodape__menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
}

.rodape__menu__link {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--cor-terciaria);
  transition: color 0.3s ease;
}

.rodape__menu__link:hover {
  color: var(--cor-hover);
}

/* Media queries para ajustes responsivos */

/* Ajustes para telas menores que 1200px */
@media (max-width: 1200px) {
  .apresentacao {
      padding: 5% 5%;
  }
}

/* Ajustes para telas menores que 992px */
@media (max-width: 992px) {
  .cabecalho__menu {
      display: flex; /* Alterado de "display: none" para "display: flex" */
      flex-direction: column;
      text-align: center;
  }
  .menu-responsivo {
      display: none; /* Mantido para ocultar o menu responsivo */
  }
}

/* Ajustes para telas menores que 768px (tablets em modo retrato e dispositivos móveis) */
@media (max-width: 768px) {
  .cabecalho__menu {
      flex-direction: row;
      gap: 10px;
  }
  .cabecalho__menu__link {
      font-size: 1.2rem;
      padding: 8px 12px;
  }
  .menu-responsivo__link {
      margin: 5px 0;
  }
  .apresentacao {
      padding: 5% 8%;
  }
}
